<nav class="navbar">
  <a href="" class="title">{{name}}</a>
  <div class="nav-items">
    <a href="" class="nav-link">Home</a>
    <a href="" class="nav-link">About</a>
    <a href="" class="nav-link">Project</a>
    <a href="" class="nav-link">Contact</a>
  </div>
</nav>

<section class="hero-section container">
  <div>
    <h2>Hi, I'm <span>Ajay Rangam</span></h2>
    <h4>I build responsive and interactive web applications.</h4>
    <div>
      <!-- <button class="btn btn-primary" type="submit">View my work</button> -->
      <button class="btn btn-link" type="button" (click)="openDocument()">My Resume</button>
    </div>
    <div>
      <h3>My Skills:</h3>
      <section class="capsule-container">
        <div class="capsule " *ngFor="let skill of skills">
          {{skill}}</div>
      </section>
    </div>
  </div>
  <div class="image-section">
    <img src="./assets/img/Ajay.jpg" alt="My Image">
  </div>
</section>

<section class="aboutSection container">
  <h3 class="heading">About Me </h3>
  <div>
    Results-oriented Software Engineering professional with 4 years of experience in <strong>Tata Consultancy Services
      (TCS)</strong> who has passion to do something
    innovative in everything I take part. My career objective is to learn and grow through chasing challenging tasks
    that offers me ample scope of
    extending Technical and Managerial skills by being part of progressive organization.

  </div>

  <div>
    My expertise lies in building scalable, maintainable, and user-friendly user-interfaces using <strong>Angular,
      JavaScript
      (ES6+), RxJs.</strong> I excel at turning complex design requirements into clean,
    performant code with a strong emphasis on usability and cross-browser compatibility.
  </div>

  <div>
    Collaborated with cross-functional teams to deliver high-quality software adhering to Agile
    methodologies. Participate in code reviews and contribute to documentation

  </div>

  <h3 class="techstackLabel heading">Tech Stack & Tools:</h3>
  <div>
    Angular, TypeScript, JavaScript (ES6+), HTML5, SCSS, Python, Git & GitHub, Postman, Jenkins.
  </div>

  <div>
    I’m currently seeking new opportunities where I can leverage my frontend expertise to help build impactful,
    high-quality digital products while continuing to grow as a developer.

  </div>

  <div>
    Let’s connect and explore how I can add value to your team!

  </div>

</section>

<section class="project container">
  <h3 class="heading">Projects</h3>
  <div class="project-grid">
    <div class="card" *ngFor="let project of projects">
      <img [src]="project.img" alt="dummy img" class="card-poster">
      <div class="card-content">
        <h4 class="card-title">{{project.title}}</h4>
        <p class="card-desc">{{project.desc}}</p>

      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <h2 class="heading" style="opacity: 1; transform: none;">Contact Me</h2>
  <form class="contact-us" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>

    <input type="text" name="name" placeholder="Your Name" ngModel required>
    <input type="email" name="email" placeholder="Your Email" ngModel required email>

    <textarea name="message" placeholder="Your Message" class="text-field" ngModel required></textarea>

    <button class="btn btn-primary">Send</button>


    <div class="social-links">
      <a href="https://github.com/ajay12344" target="_blank" rel="noopener" class="github">
        <img src="./assets/img/github.png" alt="github">
      </a>
      <a href="https://www.linkedin.com/in/ajay-rangam-52b5b9172/" target="_blank" rel="noopener">
        <img src="./assets/img/linkedin.png" alt="linkedin"> </a>
    </div>
  </form>
</section>
<footer class="footer-section" style="opacity: 1;">
  <p class="footer-text">© 2025 Ajay Rangam | Built with Angular</p>
</footer>